*.class
*.log
*.pyc
*.swp
*.iml
*.ipr
*.iws
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.flutter-plugins-dependencies
.history
.idea/
.pub-cache/
.pub/
.svn/
.swiftpm/
/android/app/debug
/android/app/profile
/android/app/release
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.map.json
app.*.symbols
migrate_working_dir/
